app/backend/target/
*.class

app/frontend/node_modules/
app/frontend/dist/
app/frontend/dist-ssr/
app/frontend/*.local

app/ia-gateway/__pycache__/
app/ia-gateway/**/__pycache__/
app/ia-gateway/*.pyc

app/frontend/.env.local
.env.local

app/docker-compose.override.yml

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

